.hidden {
  display: none !important;
}

.m0 {
  margin: 0 !important;
}

/* in quiz-card.css */

.df > li {
  margin: 0 0.45rem 0.45rem 0;
  font-size: x-small;
  padding: 5px;
  display: inline-flex;
  grid-gap: 16px;
  background: rgb(202, 204, 198);
  place-items: center;
  border-radius: 6px;
}

.content {
  display: grid;
  place-items: center;
  grid-gap: 20px;
  overflow-y: scroll;
}
